html {
  font-family: arial, sans-serif;
  color: #505050;
  height: 100%;
}

li {
  display: inline-block;
}

input {
  padding: 10px;
  margin: 5px;
}

input[type="text"] {
  width: 590px;
}

#header {
  height: 65px;
  width: 100%;
}

#header ul {
  float: right;
}

#main {
  margin: auto;
  padding-top: 200px;
}

#logo {
  width: 30%;
  margin: 0 auto;
}

#logo img {
  width: 270px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

#search {
  width: 45%;
  margin: 0 auto;
}

#searchbtn {
  width: 50%;
  margin: 0 auto;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: #F2F2F2;
  position:absolute;
  bottom:0;
}

#l-menu {
  float: left;
}

#r-menu {
  float: right;
}

.navlink {
  text-decoration: none;
  color: #505050;
  padding: 10px 15px;
  margin: auto;

}

a:hover {
  text-decoration: underline;
}

.navimg {
  height: 45px;
  width: 45px;
  margin: 5px;
}
